DJANGO_SECRET_KEY=change-this-secret-key-before-deploy
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=188.187.214.161,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://188.187.214.161
DJANGO_DB_PATH=/app/data/db.sqlite3
DJANGO_STATIC_ROOT=/app/staticfiles
DJANGO_MEDIA_ROOT=/app/media
DJANGO_EMAIL_FILE_PATH=/app/sent_emails
DJANGO_LOG_DIR=/app/logs
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.hosting.reg.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=no-reply@example.ru
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=no-reply@example.ru
SERVER_EMAIL=no-reply@example.ru
